<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ContextConfigServletApp</display-name>
  <welcome-file-list>
    <welcome-file>NewFile.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
  <param-name>username</param-name>
  <param-value>System</param-value>
  </context-param>
  
  <context-param>
  <param-name>Password</param-name>
  <param-value>Manager</param-value>
  </context-param>
  
  
  <servlet>
     
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.anisha.servlet.FirstServlet</servlet-class>
    
       <init-param>
     <param-name>Carloan</param-name>
     <param-value>7.99</param-value>
     </init-param>
     
        <init-param>
     <param-name>HomeLoan</param-name>
     <param-value>67.9</param-value>
     </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.anisha.servlet.SecondServlet</servlet-class>
    
       <init-param>
     <param-name>student1</param-name>
     <param-value>anisha</param-value>
     </init-param>
     
     <init-param>
     <param-name>student2</param-name>
      <param-value>shreyuuuu</param-value>
     </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
</web-app>